<div class="container rounded bg-white mt-5 shadow">
  <div class="row g-0">
    <h2>Hard & Soft skills</h2>
    <hr>
    <div class="col-sm-6 col-md-4 col-lg-4 p-2 text-center">
      <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'"
        [innerStrokeColor]="'#B2B2B2'"
        [animation]="true"
        [animationDuration]="600"
        [responsive]="true">
      </circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 p-2">
      <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" [innerStrokeColor]="'#B2B2B2'" [animation]="true" [animationDuration]="600"
        [responsive]="true">
      </circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 p-2">
      <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" [innerStrokeColor]="'#B2B2B2'" [animation]="true" [animationDuration]="600"
        [responsive]="true">
      </circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 p-2">
      <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" [innerStrokeColor]="'#B2B2B2'" [animation]="true" [animationDuration]="600"
        [responsive]="true">
      </circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 p-2">
      <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" [innerStrokeColor]="'#B2B2B2'" [animation]="true" [animationDuration]="600"
        [responsive]="true">
      </circle-progress>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 p-2">
      <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="8" [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" [innerStrokeColor]="'#B2B2B2'" [animation]="true" [animationDuration]="600"
        [responsive]="true">
      </circle-progress>
    </div>
  </div>
</div>