<div class="container rounded bg-white mt-5 p-2 shadow">
  <div class="row g-0">
    <h2>Hard & Soft skills</h2>
    <hr>

    <!-- HTML -->
    <div class="col-sm-6 col-md-3 col-lg-3 text-center">
      <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/img/destrezas/logos/html5.svg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="68"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'"
        [innerStrokeColor]="'#B2B2B2'"
        [animation]="true"
        [animationDuration]="600"
        [responsive]="true"
        class="col-9">
      </circle-progress>
    </div>
    <!-- CSS -->
    <div class="col-sm-6 col-md-3 col-lg-3 text-center">
      <circle-progress 
      [percent]="85" 
      [radius]="100"
      [imageSrc]="'../../../assets/img/destrezas/logos/css.svg'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="68"
      [outerStrokeWidth]="8" 
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#3C4048'" 
      [innerStrokeColor]="'#B2B2B2'" 
      [animation]="true" 
      [animationDuration]="600"
      [responsive]="true"
      class="col-9">
      </circle-progress>
    </div>
      <!-- JS -->
      <div class="col-sm-6 col-md-3 col-lg-3 text-center">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/img/destrezas/logos/js.svg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'"
        [innerStrokeColor]="'#B2B2B2'"
        [animation]="true"
        [animationDuration]="600"
        [responsive]="true"
        class="col-9">
        </circle-progress>
      </div>
      <!-- TS -->
      <div class="col-sm-6 col-md-3 col-lg-3 text-center">
        <circle-progress 
        [percent]="85" 
        [radius]="100"
        [imageSrc]="'../../../assets/img/destrezas/logos/ts.svg'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" 
        [innerStrokeColor]="'#B2B2B2'" 
        [animation]="true" 
        [animationDuration]="600"
        [responsive]="true"
        class="col-9">
        </circle-progress>
      </div>
      <!-- ANGULAR -->
      <div class="col-sm-6 col-md-3 col-lg-3 text-center">
        <circle-progress
        [percent]="85" 
        [radius]="100"
        [imageSrc]="'../../../assets/img/destrezas/logos/angular.svg'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100" 
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" 
        [innerStrokeColor]="'#B2B2B2'" 
        [animation]="true" 
        [animationDuration]="600"
        [responsive]="true"
        class="col-9">
        </circle-progress>
      </div>
      <!-- Team -->
      <div class="col-sm-6 col-md-3 col-lg-3 text-center">
        <circle-progress 
        [percent]="85" 
        [radius]="100"
        [imageSrc]="'../../../assets/img/destrezas/logos/equipo.webp'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="120" 
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" 
        [innerStrokeColor]="'#B2B2B2'" 
        [animation]="true" 
        [animationDuration]="600"
        [responsive]="true"
        class="col-9">
        </circle-progress>
      </div>
      <!-- Idioma -->
      <div class="col-sm-6 col-md-3 col-lg-3 text-center">
        <circle-progress 
        [percent]="50" 
        [radius]="100"
        [imageSrc]="'../../../assets/img/destrezas/softSkill/idioma.webp'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="130" 
        [outerStrokeWidth]="8" 
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C4048'" 
        [innerStrokeColor]="'#B2B2B2'" 
        [animation]="true" 
        [animationDuration]="600"
        [responsive]="true"
        class="col-9">
        </circle-progress>
      </div>
  </div>
</div>