<!-- === EXPERIENCIA === -->
<div class="container rounded bg-white mt-5 shadow">
  <div class="row g-0 d-flex justify-content-center">

    <h2>Educación</h2>
    <hr />
    <!-- Tarjeta 1 -->
    <div class="card mb-3 col-lg-10">
      <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
          <div class="p-3">
            <img src="../../../assets/img/educacion/secundario.jpg" alt="Logo de Tender" id="imgContain">
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Julio Argentino Roca N° 8</h5>
            <h6 class="card-subtitle mb-2 text-muted">Periodo</h6>
            <p class="card-text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut,
              maxime tenetur! Provident architecto obcaecati dolor nihil,
              cupiditate officiis natus eveniet?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
