.banner-Top {
  margin-top: 56px;
}
.minHW {
  min-height: 56px;
  min-width: 280px;
}
.imgCover {
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.logoNav {
  width: 80px;
  height: 32px;
  object-fit: cover;
}
.colorNav {
  color: rgb(49, 57, 73)
}

.btnSizeNav {
  font-size: 2rem;
}

.bg-violet {
  background-color: rgb(248, 249, 250);
}